* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
}

.main {
  background: #f5f5f5;
  text-transform: uppercase;
  position: 100vh;
  width: 100%;
}

.landing {
  height: 100vh;
  background-image: url(/Images/landing.webp);
  background-size: cover, auto;
  background-position: 100% 10%;
}

.loading *,
.loading *:before,
.loading *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.landing-icon {
  position: absolute;
  right: 10px;
  list-style: none;
  padding: 1rem 0 0;
  margin: 10px 10px;
}

.landing-icon .landing-icon-list {
  text-decoration: none;
  margin: inherit;
  display: inline-block;
}

.landing-icon img {
  width: 35px;
  height: 35px;
}

.landing-intro {
  color: #f5f5f5;
  position: absolute;
  top: 65%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
}

.landing-intro-text_Hello,
.landing-intro-text_Chris {
  font-size: 4rem;
  line-height: 5rem;
}

.landing-intro-text_Hello {
  -webkit-animation-name: hello;
          animation-name: hello;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.landing-intro-text_Chris {
  -webkit-animation-name: chris;
          animation-name: chris;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes hello {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes hello {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes chris {
  from {
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes chris {
  from {
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.landing-scroll-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  animation: bounce 1.5s infinite ease-in-out;
  -webkit-animation: bounce 1.5s infinite ease-in-out;
}

.landing-scroll-button-icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: #f5f5f5;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.landing-scroll-button:focus,
.landing-scroll-button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background: #d3d3d3;
  z-index: 10;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-bar li {
  margin: 0 5rem;
  padding: 0.8rem;
}

.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 1rem;
}

.nav-bar a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f5f5;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
}

.profile-div {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 1rem;
}

.profile-pic {
  width: 100%;
}

.about {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.about-me {
  line-height: 3rem;
  margin: 4rem 4rem 1rem 4rem;
  text-transform: none;
}

.icon-cv {
  -webkit-transition: ease-in-out 0.33s;
  transition: ease-in-out 0.33s;
}

.icon-cv:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
}

#projects {
  margin-top: 4rem;
  background-color: #b0c4de;
}

.project-header {
  margin: 5rem 0 3rem 0;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.card {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 25px;
  margin: 20px 20px;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.45);
}

.card .project-icons {
  display: inline-block;
  height: 30px;
  margin: 5px;
  margin-bottom: -15px;
}

h4 {
  padding-bottom: 10px;
  font-size: inherit;
}

.project-img {
  border-radius: 2%;
  width: 400px;
  height: 250px;
  size: cover;
}

.project-link {
  text-decoration: none;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  color: #2a2a2a;
}

#skills {
  padding: 4rem;
}

.skills {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mySkills {
  font-size: inherit;
  text-transform: none;
}

.skills-icons-list li {
  list-style: none;
  margin: 20px;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
}

.skills-icons-list li img {
  -webkit-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}

.icon-text {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  padding: 0.5rem;
}

.skills-icons-list li img:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.footer {
  background-color: #a0acbd;
  color: #f5f5f5;
  text-align: center;
}

.footer-text {
  padding: 1rem 0;
  font-size: 1.3rem;
}

.footer-icon {
  list-style: none;
  padding: 0.5rem 0;
}

.footer-icon-list {
  display: inline-block;
  margin: 0 0.8rem;
  padding-bottom: 0.33rem;
}

.footer-icon-list img {
  text-decoration: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav-bar ul li {
    margin: 0.8rem auto;
    padding: 0;
    font-size: 1rem;
  }
  .landing-intro {
    -webkit-transform: translate(-30%, -10%);
    transform: translate(-30%, -10%);
    position: absolute;
    top: 60%;
    left: 30%;
  }
  .landing-intro-text_Hello,
  .landing-intro-text_Chris {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .skills-icons-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin: 10px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 860px) {
  .nav-bar ul li {
    margin: 0.8rem auto;
    padding: 0;
    font-size: 1rem;
  }
  .landing-intro {
    -webkit-transform: translate(-30%, -10%);
    transform: translate(-30%, -10%);
    position: absolute;
    top: 60%;
    left: 30%;
  }
  .landing-intro-text_Hello,
  .landing-intro-text_Chris {
    font-size: 3rem;
    line-height: 4rem;
  }
  .skills-icons-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */